@keyframes marquee {
    0%, 20% { transform: translateX(0); }
    30%, 50% { transform: translateX(0); }
    60%, 80% { transform: translateX(0); }
    90%, 100% { transform: translateX(0); }
  }
  
  #marquee {
    animation: marquee 10s  infinite;
    
  }
  
  